extends ../layout/main
block variable
block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="/wp-content/themes/pokrovsky/assets/styles/main.min.css")
block scripts
    script(src='/wp-content/themes/pokrovsky/assets/scripts/libs.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/snap.svg.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/index.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/view.js')
    //script( src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvIwpQlmn08p4nR3bND8v3PBuMrWNMsZM&callback=initMap')


block content
    section.about
        include ./includes/breadcrumb
        h1.title Про Pokrovsky
        .about__list
            .about__el
                +img('/about/1.jpg').about__img
                .about__content
                    .about__title Резюме
                    .about__text  Елітний мікрорайон поруч з <br> центром
            .about__el
                +img('/about/2.jpg').about__img
                .about__content
                    .about__text  Комплекс, який відкриває <br> скайлайн міста
            .about__el
                +img('/about/3.jpg').about__img
                .about__content
                    .about__text  212 квартир бізнес-класу <br> від РЕНОМЕ
            .about__el
                +img('/about/4.jpg').about__img
                .about__content
                    +img('/about/Archimatika.svg').about__logo
                    .about__text  Проєкт від Archimatika кращого архітектурного бюро України
            .about__el
                +img('/about/5.jpg').about__img
                .about__content
                    .about__title Архітектура
                    .about__text  Центрально-європейська архітектура
            .about__el
                +img('/about/6.jpg').about__img
                .about__content
                    .about__text  Будинки на стилобаті
            .about__el
                +img('/about/7.jpg').about__img
                .about__content
                    .about__title Квартири
                    .about__text  Функціональні європейські планування
            .about__el
                +img('/about/8.jpg').about__img
                .about__content
                    .about__text  Будинки на стилобаті Видові квартири
            .about__el
                +img('/about/9.jpg').about__img
                .about__content
                    .about__text  Квартири з каміном
            .about__el
                +img('/about/10.jpg').about__img
                .about__content
                    .about__text  Дворівневі квартири з мансардними вікнами
            .about__el
                +img('/about/11.jpg').about__img
                .about__content
                    .about__text  Ванна кімната  з вікном
            .about__el
                +img('/about/12.jpg').about__img
                .about__content
                    .about__text  Комірки у квартирі
            .about__el
                +img('/about/13.jpg').about__img
                .about__content
                    .about__text  Гардеробні кімнати
            .about__el
                +img('/about/14.jpg').about__img
                .about__content
                    .about__text  Кухні-студії

block footer
    footer.footer.footer__small
        include ../includes/menu
        include ../includes/footer


    // include ../pages/includes/forms
block header
    header.header.header-transparent
        include ../includes/header.pug