.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 50px 50px 0;
	z-index: 205;
	transition: all 0.6s cubic-bezier(.09,.37,0,.55);
	&.no-scroll{
		height: 96px;
		background: transparent;
		.logo img{
			height: 50px;
		}
	}
}
.logo img{
	height: 35px;
}

.burger{
	position: relative;
	@include flexCenter();
	height: 100%;
	//width: 96px;
	cursor: pointer;
	font-weight: 600;
	font-size: 24px;
	font-family: "Mont";
	line-height: 1em;
	text-transform: capitalize;
	color: #EAF1FF;
	&__icon{
		display: flex;
		flex-direction: column;
		margin: 0 15px 0 15px;
	}
	.bg-small{
		right: 0;
		top: 35%;
		transform: translate(0, -50%);
		svg{
			stroke: #2F5677;
			fill: #2F5677;
		}
	}
	span{
		display: inline-block;
		width: 50px;
		height: 3px;
		background: $wc;
		margin-bottom: 7px;
		transform-origin: left center;
		transform: rotate(-7deg);
		transition: transform 0.4s cubic-bezier(0.74, 0.01, 0.36, 0.99), visibility 0.1s ease-in;
		&:nth-last-child(1){
			margin: 0;
		}
	}
	&:hover{
		span:nth-child(1){
			transform: scale(0.8 ,1);
		}
		 span:nth-child(2){
			transform: scale(0.8 ,1);
		}
		 span:nth-child(3){
			transform: scale(0.8 ,1);
		}
	}
	& .burger-close{
		span{
			transform-origin: center center;
		}
		span:nth-child(1){
			transform: translate(0, 10px)rotate(45deg);
		}
		span:nth-child(2){
			visibility: hidden;
		}
		span:nth-child(3){
			transform: translate(0, -10px)rotate(-45deg);
		}
	}
}
.address{
	display: flex;
	align-items: center;
	margin-right: 100px;
	&__icon{
		margin-right: 10px;
	}
	&__link{
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #EAF1FF;
		font-family: $default-font;
		font-weight: 500;
		font-size: 24px;
		line-height: 1em;
		transition: all 0.3s ease-in;
		svg{
			fill: #EAF1FF;
			//stroke:  #EAF1FF;
			transition: all 0.3s ease-in;
		}
		&:hover{
			color: #2F5677;
			svg{
				fill: #2F5677;
			}
		}
	}
}
.tel{
	display: flex;
	align-items: center;
	margin-right: 100px;
	&__icon{
		margin-right: 10px;
	}
	&__link{
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #EAF1FF;
		font-family: $default-font;
		font-weight: 500;
		font-size: 24px;
		line-height: 1em;
		transition: all 0.3s ease-in;
		svg{
			fill: #EAF1FF;
			transition: all 0.3s ease-in;
		}
		&:hover{
			color: #2F5677;
			svg{
				fill: #2F5677;
			}
		}
	}
}
.callback{
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-family: "Mont" ;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 1em;
	text-align: left;
	color: #EAF1FF;
	margin: 0 auto 0 55px;
	.bg-small{
		//top: 35%;
		svg{
			stroke: #61AFAA;
		}
	}
}

.footer-index,.header-index{
	cursor: none!important;
	*{
		cursor: none!important;
	}
	&.footer-cursor-active{
		cursor: pointer!important;
		*{
			cursor: pointer!important;
		}
	}
}
@media screen and (max-width: 1023px){
	.header{
		&.no-scroll{
			height: 50px;
			.logo img{
				height: 35px;
			}
		}
		.tel{
			right: 120px;
			&__icon{
				margin: 0;
			}
		}
	}
	.burger{
		width: 64px;
	}
	.tel{
		&__link{
			font-size: 14px;
			line-height: 19px;
		}
	}
}
@media screen and (max-width: 767px){
	.header{
		height: 40px;
		.logo img{
			height: 28px;
		}
		&.no-scroll{
			height: 40px;
			.logo img{
				height: 28px;
			}
		}
		.tel{
			right: 67px;
		}
	}
	.burger{
		width: 40px;
		span{
			width: 50%;
		}
	}
	.tel{
		&__link{
			font-size: 0;
		}
	}
}