.kvartira{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  &__render{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    //img{
    //  height: 100%;
    //  width: 100%;
    //  object-fit: cover;
    //}
    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }
  &__param{
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translate(0, -50%);

    font-family: "Mont";
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
    color: #EAF1FF;
    z-index: 50;
  }
}

.compass{
  position: absolute;
  top: 50%;
  right: 50px;
  width: 64px;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;


  font-family: "Mont";
  font-weight: 600;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
  color: #EAF1FF;

  z-index: 55;
  img{
    margin-top: 5px;
  }
}
.list{
  &-flat{
    &__links{
      position: absolute;
      bottom: 50px;
      left: 50%;

      transform: translate(-50%,0);
      width: 30.73%;
      display: flex;
      justify-content: space-between;

      z-index: 55;
    }
    &__link{
      font-family: "Mont";
      font-weight: 600;
      font-size: 24px;
      line-height: 1em;
      text-align: center;
      text-decoration-line: underline;
      color: #EAF1FF;
    }
  }
}
.render-house{
  transition: fill 0.4s ease-in ;
  &:hover{
    cursor: pointer;
    fill: rgba(255,255,255,0.3);
  }
}